.footer {

    flex: 0 0 auto;
    padding: 35px 0 35px 0;
    //margin-top: 85px;
    @media (min-width: 555px) {
        padding: 60px 0 60px 0;
        //margin-top: 65px;
    }
    @media (min-width: 705px) {
        padding: 80px 0 60px 0;
        //margin-top: 80px;
    }
    @media (min-width: 893px) {
        padding: 75px 0 60px 0;
        //margin-top: 75px;
    }
    @media (min-width: 985px) {
        padding: 55px 0 60px 0;
        //margin-top: 90px;
    }
    /* @media (min-width: 1205px) {
        margin-top: 105px;
    } */
    @media (min-width: 1285px) {
        //margin-top: 120px;
    }
    @media (min-width: 1500px) {
        padding: 60px 0;
    }

    background: #131423;

    // .footer__container

    &__container {
        

        &._min {
            @media (min-width: 1205px) {
                padding: 0 80px;
            }
            @media (min-width: 1285px) {
                padding: 0 160px;
            }
        }
    }

    // .footer__row

    &__row {

        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        &._reverse {
            flex-direction: column-reverse;
        }

        @media (min-width: 705px) {
            flex-direction: row;
            align-items: flex-end;
            &._reverse {
                flex-direction: row;
            }
        }

        &._column-on-table {
            flex-direction: column;
            align-items: center;
            
            @media (min-width: 705px) {
                align-items: stretch;
            }
            @media (min-width: 985px) {
                align-items: flex-end;
                flex-direction: row;
            }
        }

        &._column-on-table &--col:nth-child(1) {
            width: 100%;
            @media (min-width: 555px) {
                width: auto;
            }
        }

        // .footer__row--col

        &--col {
            padding: 28.5px 0;
            @media (min-width: 985px) {
                padding: 42px 0;
            }
            @media (min-width: 1365px) {
                padding: 43px 0;
            }
        }
    }

    // .footer__logo

    &__logo {

        // .footer__logo--img

        &--img {
        }
    }

    // .footer__social

    &__social {
    }

    // .footer__subscribe

    &__subscribe {

        max-width: 100%;
        width: 100%;
        @media (min-width: 555px) {
            max-width: 360px;
        }
        @media (min-width: 985px) {
            max-width: 400px;
        }

        // .footer__subscribe--legend

        &--legend {
            line-height: 144%;
            text-align: center;
            width: 100%;
            display: block;
            @media (min-width: 555px) {
                text-align: left;
            }
        }

        // .footer__subscribe--body

        &--body {
            margin-top: 15px;

            background: rgba(255, 255, 255, 0.09);
            border-radius: 37px;

            display: flex;
            width: 100%;
        }

        // .footer__subscribe--label

        &--label {
            flex: 1 1 auto;

            display: flex;
        }

        // .footer__subscribe--input

        &--input {
            padding: 18px 31px;

            background: transparent;
            width: 100%;
            flex: 1 1 100%;
            max-width: 225px;

            font-size: 1rem;
            @media (min-width: 1205px) {
                font-size: 1.125rem;
            }
            line-height: 144%;
            color: rgba(255, 255, 255, 0.54);

            &::placeholder {
                opacity: 1;
                color: rgba(255, 255, 255, 0.54);
                transition: opacity .2s ease-in-out;
            }

            transition: color .2s ease-in-out;
            &:focus {
                color: #FFF;

                &::placeholder {
                    opacity: 0;
                }
            }
        }

        // .footer__subscribe--submit

        &--submit {
            min-width: 133px;
        }
    }

    // .footer__soon

    &__soon {

        display: flex;
        align-items: center;
        flex-direction: column;

        @media (min-width: 555px) {
            flex-direction: row;
        }

        // .footer__soon--element

        &--element {
            padding: 18px 43px;

            @media (min-width: 555px) {
                margin-right: 37px;
            }

            font-weight: 700;
            font-size: 1rem;
            @media (min-width: 1205px) {
                font-size: 1.125rem;
            }
            line-height: 144%;

            background: rgba(255, 255, 255, 0.09);
            border-radius: 69px;

            
        }

        // .footer__soon--timer

        &--timer {
            margin-top: 15px;
            @media (min-width: 555px) {
                margin-top: 0;
                align-items: stretch;
            }

            display: flex;
            flex-direction: column;
            align-items: center;

            & .timer-value {
              font-weight: 700;
              font-size: 1.5rem;
              @media (min-width: 1205px) {
                font-size: 1.75rem;
              }
              line-height: 156.5%;
            }

            & .timer-name {
              display: block;
              margin-top: 0px;
              font-size: 1rem;
              line-height: 156.5%;
              color: rgba(255, 255, 255, 0.39);
            }
        }
    }

    // .footer__copy

    &__copy {
        display: block;
        font-size: 1rem;
        text-align: center;
        @media (min-width: 555px) {
            text-align: left;
        }
        @media (min-width: 1205px) {
            font-size: 1.125rem;
        }
        line-height: 144%;
        color: rgba(255, 255, 255, 0.54);
    }

    // .footer__nav

    &__nav {

        // .footer__nav--list

        &--list {
            display: flex;
            flex-wrap: wrap;

            margin: -7.5px -30px;
        }

        // .footer__nav--item

        &--item {

        }

        // .footer__nav--link

        &--link {
            display: block;
            padding: 7.5px 25px;

            font-size: 1rem;
            @media (min-width: 1205px) {
                font-size: 1.125rem;
                padding: 7.5px 30px;
            }
            line-height: 144%;
            color: #FFF;

            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 50%; bottom: 0;
                z-index: -1;
                transform: translate(-50%,-13px);
                width: 0%; height: 5px;
                background: var(--accent);

                transition: width .3s ease;
            }

            &:hover::before {
                width: calc(100% - 50px);
                @media (min-width: 1205px) {
                    width: calc(100% - 60px);
                }
            }
            
            &:active::before {
                width: calc(80% - 50px);
                @media (min-width: 1205px) {
                    width: calc(80% - 60px);
                }
            }
        }
    }
}
