.header {

    padding: 37px 0;
    position: absolute;
    left: 0; top: 0;
    z-index: 100;

    width: 100%;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    transform: translate3d(0,-100%,0);
    opacity: 0;
    &._loaded {
        opacity: 1;
        transform: translate3d(0,0,0)
    }

    // .header__container

    &__container {
    }

    // .header__nav

    &__nav {

        // .header__nav--body

        &--body {
        }

        // .header__nav--list

        &--list {
            display: flex;
            align-items: center;
            flex-wrap: wrap;

            margin: -5px -15px;
        }

        // .header__nav--item

        &--item {
            padding: 5px 15px;
            &._auto {
                flex: 1 1 auto;

                @media (min-width: 1200px) {
                    text-align: center;
                    padding-left: 130px;
                    
                }
            }

            &._hide-on-mob {
                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        // .header__nav--btn

        &--btn {
            font-weight: 800;
            font-size: 0.875rem;
            @media (min-width: 551px) {
                font-size: 1.125rem;
            }
            line-height: 144%;
            color: #FFFFFF;

            display: flex;
            align-items: center;
            padding: 18px 22px;

            & img {
                margin-left: 5px;
            }

            background: rgba(255, 255, 255, 0.07);
            backdrop-filter: blur(20px);

            border-radius: 69px;

            position: relative;

            &[data-label]::after {
                content: attr(data-label);
                position: absolute;
                right: 0; top: 0;

                text-transform: uppercase;
                font-weight: 900;
                font-size: 0.9375rem;
                line-height: 144%;
                
                background: var(--red);
                color: #FFF;

                padding: 4px 11px;
                border-radius: 23px;

                transform: translate(5px,-9px);
            }

            transition: background .2s ease-in-out;
            &:hover {
                background: var(--accent);
            }
            
            &:active {
                background: var(--accent-dark);
            }
        }

        // .header__nav--link

        &--link {
            font-weight: 800;
            font-size: 1rem;
            @media (min-width: 551px) {
                font-size: 1.25rem;
            }
            line-height: 144%;
            color: #FFF;

            display: block;
            padding: 5px 10px;

            position: relative;
            &::before {
                content: '';
                position: absolute;
                left: 50%; bottom: 0;
                z-index: -1;
                transform: translate(-50%,-9px);
                width: 0%; height: 5px;
                background: var(--accent);

                transition: width .3s ease-in-out, background .3s ease-in-out;
            }

            &:hover::before {
                width: calc(100% - 20px);
            }
            
            &:active::before {
                width: calc(90% - 20px);
                background: var(--accent-dark);
            }
        }
    }

    // .header__logo

    &__logo {

        // .header__logo--img

        &--img {
            width: 126px;
            @media (min-width: 551px) {
                width: 170px;
            }
        }
    }
}

