
.main-title {
    font-family: var(--title-font);
    font-weight: 800;
    font-size: 4rem;
    line-height: 96%;
    letter-spacing: -0.04em;

    margin: 0;
    @media (min-width: 555px) {
        font-size: 4.375rem;
    }

    @media (min-width: 705px) {
        font-size: 5rem;
    }

    @media (min-width: 1201px) {
        font-size: 6.25rem;
    }
}

.section-title {

    font-family: var(--title-font);
    font-weight: 800;
    font-size: 2.875rem;
    line-height: 104.5%;
    letter-spacing: -0.04em;

    @media (min-width: 555px) {
        font-size: 3.375rem;
    }

    @media (min-width: 1285px) {
        font-size: 3.75rem;
    }

    &._large {
        font-size: 2.875rem;

        @media (min-width: 555px) {
            font-size: 3.375rem;
        }

        @media (min-width: 1205px) {
            font-size: 3.875rem;
        }
    
        @media (min-width: 1285px) {
            font-size: 4.5rem;
        }

        @media (min-width: 1365px) {
            font-size: 5.125rem;
        }
    }

    &._super-large {
        font-size: 3.375rem;

        @media (min-width: 555px) {
            font-size: 3.375rem;
        }

        @media (min-width: 705px) {
            font-size: 3.375rem;
        }

        @media (min-width: 893px) {
            font-size: 4rem;
        }

        @media (min-width: 985px) {
            font-size: 4.625rem;
        }

        @media (min-width: 1105px) {
            font-size: 4.625rem;
        }
    
        @media (min-width: 1205px) {
            font-size: 5.375rem;
        }

        @media (min-width: 1365px) {
            font-size: 5.875rem;
        }
    }
}

.txt-center {
    text-align: center;
}
