.nft-section {

    position: relative;
    margin-top: -3px;
    @media (min-width: 380px) {
        margin-top: -3px;
    }
    @media (min-width: 555px) {
        margin-top: 50px;
    }
    @media (min-width: 705px) {
        margin-top: 55px;
    }
    @media (min-width: 893px) {
        margin-top: 35px;
    }
    @media (min-width: 985px) {
        margin-top: 30px;
    }
    @media (min-width: 1105px) {
        margin-top: 30px;
    }
    @media (min-width: 1205px) {
        margin-top: 35px;
    }
    @media (min-width: 1285px) {
        margin-top: 50px;
    }
    @media (min-width: 1365px) {
        margin-top: 45px;
    }
    @media (min-width: 1500px) {
        margin-top: 30px;
    }

    // .nft-section__decor-element

    &__decor-element {
        position: absolute;
        left: 0; top: 70%;
        transform: translate(-40%,-50%);
        filter: blur(5px);
        width: 745px; height: 745px;
        border-radius: 50%;
        pointer-events: none;

        transform: translate(-65%,-50%);
        top: 50%;
        @media (min-width: 705px) {
            top: 70%;
            transform: translate(-65%,-30%);
        }

        @media (min-width: 985px) {
            transform: translate(-65%,-30%);
        }

        @media (min-width: 1500px) {
            transform: translate(-60%,-60%);
        }

        background: radial-gradient(50% 50% at 50% 50%, rgba(0, 71, 255, 0.102) 0%, rgba(0, 71, 255, 0) 100%);
    }

    &__decor-bg-element {
        pointer-events: none;
        z-index: -1;
        position: absolute;
        right: 0; top: 75%;
        transform: translate(0,-50%);
        text-align: right;
        @media (min-width: 985px) {
            top: 115%;
        }
        width: 100%; min-height: 100%;
        & img {
            width: 100%; max-width: 450px;
            min-width: 400px;
            height: auto;
        }
    }

    // .nft-section__container

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;

        text-align: center;

        @media (min-width: 893px) {
            flex-direction: row;
            text-align: left;
        }

        &._min {
            @media (min-width: 1205px) {
                padding: 0 80px;
            }
            @media (min-width: 1285px) {
                padding: 0 160px;   
            }
        }
    }

    // .nft-section__info

    &__info {

        flex: 0 1 52%;
        @media (min-width: 1205px) {
            flex: 0 1 47%;
        }
        @media (min-width: 1365px) {
            flex: 0 1 51%;
        }

        // .nft-section__info--body

        &--body {
            max-width: 580px;
            @media (min-width: 893px) {
                max-width: 600px;
            }
        }
    }

    // .nft-section__title

    &__title {
        &._large {
            font-size: 3.375rem;
        }
        @media (min-width: 380px) {
            &._large {
                font-size: 3.375rem;
            }
        }
        @media (min-width: 1205px) {
            &._large {
                font-size: 4.5rem;
            }
        }
    
        /* @media (min-width: 1285px) {
            font-size: 4.5rem;
        } */
    }

    // .nft-section__text

    &__text {
        padding-top: 10px;

        margin: 0 -5px;

        @media (min-width: 380px) {
            margin: 0;
        }

        @media (min-width: 555px) {
            margin: 0 -15px;
        }
        @media (min-width: 705px) {
            margin: 0;
        }

        font-size: 1rem;
        @media (min-width: 1205px) {
            padding-top: 14px;
            font-size: 1.125rem;
        }
        line-height: 156.5%;
        color: #ABACB1;
    }

    // .nft-section__owner

    &__owner {

        margin-top: 40px;

        // .nft-section__owner--body

        &--body {
            display: inline-flex;
            align-items: center;
            text-align: left;

            background: var(--accent);
            border-radius: 90px;

            padding: 6.7px;
            @media (min-width: 1205px) {
                padding: 8px;
            }
        }

        // .nft-section__owner--logo

        &--logo {
            & img {
                border-radius: 50%;
                width: 52px; height: 52px;
                @media (min-width: 1205px) {
                    width: 62px; height: 62px;
                }
            }
            padding-right: 10px;
            @media (min-width: 380px) {
                padding-right: 16px;
            }
            @media (min-width: 1205px) {
                padding-right: 19px;
            }
        }

        // .nft-section__owner--name

        &--name {
            max-width: 140px;
            margin-right: 11px;
            @media (min-width: 380px) {
                max-width: 110px;
                margin-right: 31px;
            }

            font-size: 0.9546rem;
            @media (min-width: 1205px) {
                font-size: 1.125rem;
                max-width: 128px;
            }
            line-height: 125.5%;
        }

        // .nft-section__owner--value

        &--value {
            display: flex;
            flex-direction: column;
            text-align: center;

            padding: 6px 23px;
            @media (min-width: 1205px) {
                padding: 11px 29px;
            }

            background: rgba(255, 255, 255, 0.16);
            border-radius: 90px;

            white-space: nowrap;

            & strong {
                font-weight: 400;
                font-size: 0.9006rem;
                @media (min-width: 1205px) {
                    font-size: 1.0616rem;
                }
                line-height: 156.5%;
            }

            & span {
                display: block;
                margin-top: -5px;
                font-size: 0.5834rem;
                @media (min-width: 1205px) {
                    font-size: 0.6875rem;
                }
                line-height: 156.5%;

                color: rgba(255, 255, 255, 0.41);
            }
        }
    }

    // .nft-section__image

    &__image {

        padding-top: 68px;
        @media (min-width: 705px) {
            padding-top: 88px;
        }
        max-width: 570px;

        @media (min-width: 893px) {
            padding-top: 0;
            max-width: 100%;
        }

        flex: 0 1 49%;
        @media (min-width: 1365px) {
            flex: 0 1 45%;
        }

        display: flex;
        flex-direction: column;
        text-align: center;

        // .nft-section__image--item

        &--item {
            position: relative;
            z-index: 2;
            & img {
                width: 100%;
            }
        }
    }

    // .nft-section__price

    &__price {
        margin-top: -20px;
        @media (min-width: 893px) {
            margin-top: -25px;
        }

        display: flex;
        flex-direction: column;
        text-align: center;

        & strong {
            font-size: 3.2394rem;
            @media (min-width: 380px) {
                font-size: 4.9413rem;
            }
            @media (min-width: 555px) {
                font-size: 5.5906rem;
            }
            @media (min-width: 705px) {
                font-size: 5.5906rem;
            }
            @media (min-width: 893px) {
                font-size: 3.77rem;
            }
            @media (min-width: 985px) {
                font-size: 4.3475rem;
            }
            @media (min-width: 1205px) {
                font-size: 4.8094rem;
            }
            line-height: 104.5%;
            letter-spacing: -0.04em;

            color: #FFFFFF;
        }

        & span {
            padding-top: 3px;

            display: flex;
            align-items: center;
            justify-content: center;

            font-size: 15.0147px;
            line-height: 156.5%;
            color: #FFFFFF;

            & img {
                margin-right: 7px;
            }
        }
    }
}
